.order-main-div {
    width: 80%;
    height: 2200px;
    margin: auto;
    position: relative;
    color: white;
}
.order-right{
    position: absolute;
    right: 20px;
}
.property{
    position: absolute;
    right: 80px;
    width: 100%;
}
.dream {
    top : 20px
}
.design {
    top: 620px;
}
.quality {
    top: 1200px;
}
.warranty {
    top: 1830px;
}
.property div{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.dream p, .design p, .quality p{
    width: 65%;
}
.property p{
    line-height: 40px;
    font-weight: 200;
}
.dream img, .design img, .quality img{
    width: 25%;
    height: 100%;
}
@media (max-width : 1200px) {
    .order-main-div {
        margin: 30px;
    }
    .dream p, .design p, .quality p{
        width: 50%;
    }
    .property p{
        line-height: 30px;
    }
    .dream img, .design img, .quality img{
        width: 35%;
    }
}
@media (max-width : 992px) {
    .order-main-div {
        margin: 0;
    }
    .property p{
        line-height: 25px;
    }
    .property h2 {
        font-size: 1.7rem;
    }
    .dream img, .design img, .quality img{
        width: 40%;
    }
    /* .dream div, .design div, .quality div , .warranty div{ */
}
@media (max-width : 768px) {
    .order-main-div {
        margin: auto;
    }
    .property {
        position:unset;
        text-align: center;
        margin: 75px 0;
    }
    .property div {
        display: block;
    }
    .order-right{
        display: none;
    }
    .dream p, .design p, .quality p{
        width: 100%;
    }
    .dream img, .design img, .quality img{
        display: none;
    }
}
@media (max-width : 550px) {
    .property {
        margin: 75px 0;
    }
    .property p {
        font-size: 1rem;
    }
}